*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}

#navbar{
    position: fixed;
}

.topnav {
    overflow: hidden;
    background-color: rgb(1, 2, 2);
    
}

.topnav img{

    margin-left:2em ;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
  
.topnav-right {
    float: right;
    padding-top: 20px;
    margin-right: 5cm;
}

/*Header end */

body{
    background-color:  #ffffff;
   /* background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
    
    overflow-y: scroll;

}

#body{
    background-image: url("https://i.pinimg.com/originals/f4/0c/fe/f40cfef2ef26c8f87ea65894d0ba41d7.jpg")  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


#bnrh2{
    padding-top: 9cm;
    padding-left: 10cm;
    font-size: 40px;
    font-weight: bold;
    font-style: initial;
    color: rgb(42, 32, 177);
    
    font-family: 'Acme', sans-serif;
    text-shadow: lightblue;
    text-transform: uppercase;
}


   
#btn1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-left: 11cm;
    border: burlywood;
    position: relative;
    border: rgb(9, 231, 231);
    width: 150px;
    
}
#btn1:hover{
    background-color: rgb(78, 16, 223);
    opacity: 1;
    padding: 5px;
    border-style: groove;
    color: cornsilk;
    
}
.footer{
    background-color:rgb(1, 2, 2) ;
    color: whitesmoke;
    padding:5px;
    text-align: center;
    position: fixed;
    width: 100%;
    
}



/* front page end*/

#sec2{

    background-color:  #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    height: 700px;
    width: 100%;
}

#sech2{
    padding: 3cm 13cm;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    text-transform: capitalize ;
}

div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
  
div.container {
    padding: 10px;
}

.row{
    display: flex;
}
.polaroid {
    flex: 33.33%;
    padding: 20px;
    margin: -2cm 10px;
    
}
.polaroid:hover{
    border: 2px black solid;
    background-color: rgba(255, 248, 220, 0.733);
}

a{
    text-decoration: none;
    color: #000;
}

/*------------------------------------------*/
#sec3{

    background-color:  #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    height: 700px;
    width: 100%;
}

#sec4{

    background-color:  #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    height: 700px;
    width: 100%;
}


@media (max-width :500px){
    #topnav{
        background-color: oldlace;
    }
   
    
}